{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="icon" href="{% static 'media/favicon.ico' %}">
	<script src="{% static 'js/game_script.js' %}" type="module"></script>
	<script src="{% static 'js_requests/test_button.js' %}" type="module"></script>
	<script src="{% static 'js_requests/login.js' %}" type="module"></script>
	<script src="{% static 'js_requests/register.js' %}" type="module"></script>
	{% comment %} <script src="../templates/../ /ros_script.js"></script> {% endcomment %}
	{% comment %} <script src="{% static 'js/game_script.js' %}" type="module"></script> {% endcomment %}
	{% comment %} <script src="{% static 'js_requests/login-form.js'  %}"></script> {% endcomment %}
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/eventemitter2@6/lib/eventemitter2.min.js"></script>
	<script src="{% static 'js_controller/roslib.js' %}" type="module"></script>
	<script src="{% static 'js_controller/joystick_listener.js' %}" type="module"></script>
	<script src="{% static 'js_controller/ros_connection.js' %}" type="module"></script>

	{% comment %} <script src="js/ros_script.js"></script> {% endcomment %}
</head>
<body>
	<div class="flex-containers">
		<div class="menu-box">


			<!-- Tab links
			<div class="tab">
				<button class="tablinks" onclick="openCity(event, 'London')">London</button>
				<button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
				<button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
			</div> -->

			<!-- Tab content -->
			<!-- <div id="London" class="tabcontent">
				<h3>London</h3>
				<p>London is the capital city of England.</p>
			</div>

			<div id="Paris" class="tabcontent">
				<h3>Paris</h3>
				<p>Paris is the capital of France.</p>
			</div>

			<div id="Tokyo" class="tabcontent">
				<h3>Tokyo</h3>
				<p>Tokyo is the capital of Japan.</p>
			</div> 

			<script>
				function openCity(evt, cityName) {
				  var i, tabcontent, tablinks;
				  tabcontent = document.getElementsByClassName("tabcontent");
				  for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				  }
				  tablinks = document.getElementsByClassName("tablinks");
				  for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				  }
				  document.getElementById(cityName).style.display = "block";
				  evt.currentTarget.className += " active";
				}
			</script> -->

			<div class="login" id="login-stage">	
				<!-- <p>Enter names in the fields, then click "Submit" to submit the form:</p> -->
				<!-- <form id="login-form"> -->
					<p>registering also needs email, login not</p>

					username: <input type="text" id="username" name="username_" required><br>
					password: <input type="password" id="password" name="password_" required><br>
					email: <input type="email" id="email" name="email_" required><br><br>
					<button type="submit" id="login-button">Login</button>
					<button type="submit" id="register-button">Register</button>
				<!-- </form> -->
				<!-- <form id="register-form"> -->
				<!-- </form> -->
			</div>
			<div class="hidden" id="logged-in-stage">	
        		<button type="button" id="start-game-button">Start game</button>
				<button type="button" id="log-out-button">Log out</button>
			</div>
			<div class="hidden" id="in-game-stage">	
        		<button type="button" id="pause-game-button">Pause game</button>
				<button type="button" id="exit-game-button">Exit game</button>
			</div>
		</div>
		<div class="hardware-connection-box">hardware-connection-box
			<div class="info">
				<p>status websocket:</p>
				<div id="ws-status">~</div>
				<p>status controller:</p>
				<div id="joy_node-sub-status"></div>
			</div>
		</div>
		<div class="game-box">game-box

			<div class="score">
				<div id="left-player-score">0</div>
				<div id="right-player-score">0</div>
			</div>

			<div class="ball" id="ball"></div>
			<div class="paddle left" id="player-paddle"></div>
			<div class="paddle right" id="player-paddle"></div>

		</div>
		<div class="chat-box">chat-box

			<div class="secret-info">
				<p id="secret-info-textbox">Initial Content</p>
				<button type="button" id="info-request-button">Secret information request</button>
			</div>

			<div class="user_info">
				<p>data about current user:</p>
				<div id="data-about-current-user">Initial Content</div>
				<button type="button" id="data-about-current-user-button">request:show/hide</button>
				{% comment %} <button type="button" id="info-request-button">Secret information request</button> {% endcomment %}
			</div>
		</div>
	</div>
	<p id="output"></p>
	<p id="speed-output"></p>
	<script src="{% static 'js/paddleControlLeft.js' %}" type="module"></script>
	<script src="{% static 'js/paddleControlRight.js' %}" type="module"></script>
	<script>
		function myFunction() {
			document.getElementById("frm1").submit();
		}
	</script>
</body>
</html>
