div#social-menu-container{
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	max-width: 100%;

	flex-direction: column;
	/* width: 10%; */
	/* height: 20%; */
	display: none;
	justify-content: left;
	align-items: right;
	/* background-color: #f1f1f1; */
	/* color: rgb(0, 0, 0); */
	/* border: 3px solid #4c9009; */
	padding: 2px;
}
	.friend-select-box {
		/* display: none; */
		/* display: flexbox; */
		/* position: flex; */
		flex-direction: column;
		width: 10%;
		height: 10%;
		/* display: flex; */
		/* position: absolute; */
		/* left: 0;
		top: 0; */
		justify-content: left;
		align-items: right;
		background-color: #f5f5f5;
		border: 2px solid skyblue;
		color: #4c9009;
		/* size: 10vh;
		size: 10vw; */

		/* width: 50px;
		height: 50px; */
	}
	.chatting-box {
		display: none;
		/* display: flexbox; */
		position: fixed;
		flex-direction: column;
		/* width: 20%; */
		/* height: 90%; */
		/* display: flex; */
		/* position: absolute; */
		left: 0;
		top: 0;
		justify-content: left;
		align-items: right;
		background-color: #f5f5f5;
		border: 2px solid skyblue;
		color: #4c9009;
		size: 10vh;
		size: 10vw;

		/* width: 50px;
		height: 50px; */
	}
	div#friend-list-container {
		flex-direction: column;
		right: 0;
		margin-bottom: 10%;
		

		/* margin-left: 3%; */
		margin-right: 3%;
		border: 3px solid hsl(258, 100%, 50%);
		/* height: 100%; */
	}
		.friend {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
			border: 3px solid #ff00f2;
		}
		#friend-list {
			border: 2px solid seagreen;
		}
		div#friend-name {
			display: flex;
			justify-content: flex-start;
			left: 0;
			top: 0;
			width: 50%;
			border: 3px solid #4b1348;
		}
		div#friend-buttons {
			display: flex;
			justify-content: flex-end;
			top: 0;
			right: 0;
			/* width: 50%; */
			border: 3px solid #582556;
		}
	div#friendship-menu {
		font-size: 3rem;  /* relative to root font size (1rem = usually 16px) */

		display: flex;
		flex-direction: column;
		align-items: stretch;
		border: 2px solid #582556;
	}
	form#send-request-form {
		border: 2px solid #582556;
		display: none;
		flex-direction: column;
	}
	form#chat-request-form {
		border: 2px solid #582556;
		display: none;
		flex-direction: column;
	}
	div#show-requests-box {
		display: none;
		flex-direction: column;
	}
	#outgoing-requests {
		border: 1px solid rgb(125, 250, 114);
		padding: 2;
	}
	#incoming-requests {
		border: 1px solid rgb(114, 250, 118);
		padding: 3;
		/* border: 2px solid rgb(51, 202, 20) */
	}


/* classes */
.social-menu-button {
	/* display: flex; */
	/* flex-direction: column; */
	color: #EEE;
	background-color: #1f3091;
	font-size: 1.2rem;
}

/* chat */

#friends-container {
    position: fixed;
    display: flex;
    height: 100%;
    width: 3%;
    background-color: transparent;
    top:0;
    right:0;
    flex-direction: column;
}

#add-friend-btn {
    position: absolute;
	background-color: var(--app-blue);
	color: white;
    top: 0;
    right: 0;
    width: 50%;
    height: 1.5rem;
    cursor: pointer;
}

#request-friend-btn {
    position: absolute;
	background-color: var(--app-blue);
	color: white;
    top: 0;
    left: 0;
    width: 50%;
    height: 2.5rem;
    cursor: pointer;
}

#friends-list-container {
	top:0;
    right:0;
    width: 100%;
    margin-top: 1.5rem;
    flex-grow: 1;
    overflow-y: auto;
}

#friends-list-container::-webkit-scrollbar {
    display:none;
}

#friends-list {
    width: 100%;
    list-style: none;
    padding: 0;
	margin-top: 0.5rem;
}

#friends-list li {
	height: 46px;
	max-height: 46px;

    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
	justify-content: center;
	align-items: center;

}

#friends-list li img {
	max-height: 42px;
	max-width: 42px;

	right: 0;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    cursor: pointer;
}

#friends-list img:hover {
    scale: 110%;
}

/* chat */

#chat-container {
    position: fixed;
    bottom: 0;
    right: 4%;

    --blue: #335DFF;
	--grey: #F5F5F5;
	--grey-d-1: #EEE;
	--grey-d-2: #DDD;
	--grey-d-3: #888;
	--white: #FFF;
	--dark: #222;
	z-index: 20 !important; /* <- Add this line */

}

.chatbox-message-wrapper {
	position: absolute;
	bottom: calc(100% + 1rem);
	right: 0;
	width: 380px;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: .5rem .5rem 2rem rgba(0,0,0,.1);
	transform: scale(0);
	transform-origin: bottom right;
	transition: .2s;
	z-index: 20 !important; /* <- Add this line */
}

.chatbox-message-wrapper.show {
	transform: scale(1);
	z-index: 20 !important; /* <- Add this line */

}

.chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: .3rem 0.8rem;
}

.chatbox-message-profile {
	display: flex;
	align-items: center;
	grid-gap: 0.8rem;
}

.chatbox-message-image {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
    border: solid;
	border-color: black;
}


.chatbox-message-name {
	padding-top: 1rem;
	color: black;
	font-size: 1rem;
	font-weight: 600;
}

.chatbox-message-status {
	font-size: .875rem;
	color: var(--grey-d-3);		
}


.chatbox-header-actions {
    display: flex;
    align-items: center;
	gap: 0.5rem;
	margin-top: -2rem;
}

.chatbox-message-close {
	position: relative;
	color:#222;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.8rem;
	cursor: pointer;
	border-radius: 50%;
}


.chatbox-message-close:hover {
	background: var(--grey);
}

.chatbox-message-dropdown {
	position: relative;
}

.chatbox-message-dropdown-toggle {
	color:#222;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.25rem;
	cursor: pointer;
	border-radius: 50%;
}

.chatbox-message-dropdown-toggle:hover {
	background: var(--grey);
}

.chatbox-message-dropdown-menu {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 100%;
	right: 0;
	background: var(--white);
	padding: .5rem 0;
	box-shadow: .25rem .25rem 1.5rem rgba(0,0,0,.1);
	transform: scale(0);
	transform-origin: top right;
	transition: .2s;
}

.chatbox-message-dropdown-menu.show {
	transform: scale(1);
}

.chatbox-message-dropdown-menu a{
	font-size: .875rem;
	font-weight: 500;
	color: var(--dark);
	text-decoration: none;
	width: 100%;
	padding: .5rem 1rem;
	display:block;
}

.chatbox-message-dropdown-menu a:hover{
	background: var(--grey);
}

.chatbox-message-content {
	background: var(--grey);
	color:#222;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	grid-row-gap: 1rem;
	max-height: 300px;
	overflow-y: auto;
}

.chatbox-message-item {
	width: 90%;
	padding: 1rem;
}

.chatbox-message-item.sent {
	align-self: flex-end;
	background: var(--blue);
	color: var(--white);
	border-radius: .75rem 0 .75rem .75rem;
}

.chatbox-message-item.received {
	background-color: darkgreen;
	color: var(--white);
	border-radius: 0 .75rem .75rem .75rem;
	box-shadow: .25rem .25rem 1.5rem rgba(0,0,0,.05);
}

.chatbox-message-item-time {
	float: right;
	font-size: .75rem;
	margin-top: .5rem;
	display: inline-block;
}

.chatbox-message-bottom {
	background: var(--white);
	padding: .75rem 1.5rem;
}

.chatbox-message-form {
	display: flex;
	align-items: center;
	background: var(--grey);
	border-radius: .5rem;
	padding: .5rem 1.25rem
}

.chatbox-message-input {
	width: 100%;
	background: transparent;
	outline: none;
	border: none;
	resize: none;
	scrollbar-width: none;
}

.chatbox-message-input::-webkit-scrollbar {
	display: none;
}

.chatbox-message-submit {
	font-size: 1.25rem;
	color: var(--blue);
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.chatbox-message-no-message {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
}
