#online-menu {
	position: absolute;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px;
	border-radius: 10px;
	display: none;
	flex-direction: column;
	font-family: "rixvideogame-pro", sans-serif;
	font-size: 20px;
}

/* Create Button Styling */
#create-game {
	background-color: #facf45;
	color: rgb(23, 26, 91);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 16px;
	margin-bottom: 10px; /* Space between the button and the list */
}

#create-game:hover {
	background-color: #4c9009;
}

#list-container {
	position: relative;
	width: 600px;
	height: 400px;
	overflow-y: auto;  /* Makes the list scrollable */
	z-index: 10;  /* Ensures the list appears over the canvas */
	background-color: rgba(0, 0, 0, 0);  /* Semi-transparent background */
	border: none;
}

#list-container ul {
	list-style-type: none;
	padding: 0;
}

#list-container li::before{
	content: attr(data-id);
	margin-right: 10px;
	font-weight: bold;
}

li {
	padding: 8px;
	color: #facf45;
	background-color: rgba(0, 0, 0, 0);
	justify-content: flex-end;
	margin: 4px 0;
	cursor: pointer;
}

#list-container li button {
    background-color: #facf45;
    color: rgb(23, 26, 91);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    margin-left: auto; /* Pushes the button to the right */
    position: absolute;
    right: 10px; /* Places the button close to the right side */
}

#list-container li button:hover {
    background-color: #4c9009;
}

/* Scrollbar styles */
#list-container::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

#list-container::-webkit-scrollbar-thumb {
    background-color: #facf45;  /* Color of the scrollbar thumb (the part that moves) */
    border-radius: 10px;  /* Rounded corners for the thumb */
}

#list-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);  /* Background color of the track (area the thumb moves along) */
    border-radius: 10px;
}

#list-container::-webkit-scrollbar-button {
    background-color: transparent; /* Optional: change the button color of the scrollbar */
}


#restart-block{
	background: #55a012;
	color: white;
	font-size: x-large;
    position:absolute;
	display: none;
	border-radius: 0.5rem;
	height: 75px;
	width: 200px;
}

#restart-block:hover {
	scale: 150%
}


.pong-mode  {
	height: 75px;
	width: auto;
	top: 30%;
	font-size: x-large;
	position: absolute;
	gap: 20px;
	display: none;
	flex-flow: column;
	/* outline: none; */
	/* align-items: stretch; */
}

.player {
	background-color: rgba(0,0,0,0);
	color: #facf45;
	/* outline: none; */
	/* box-shadow: none; */
	border: none;
	/* outline-color: "red"; */
	font-family: "rixvideogame-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40pt;
}

.player:hover {
	scale: 150%;
}
