<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Paddle Game</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #333;
            color: white;
            font-family: Arial, sans-serif;
        }
        canvas {
            background-color: black;
            border: 2px solid white;
        }

    </style>
</head>
<body>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <script>
        // WebSocket connection setup
        const gameId = "{{ game_id }}";
        const token = localStorage.getItem('access_token');
        const socket = new WebSocket(`ws://${window.location.host}/ws/pong/${gameId}/?token=${token}`);

        // Canvas and paddle setup
        const canvas = document.getElementById("gameCanvas");
        const ctx = canvas.getContext("2d");
        const paddle1 = {
            width: 10,
            height: 100,
            x: 20,
            y: 0,
        };
        const paddle2 = {
            width: 10,
            height: 100,
            x: 770,
            y: 0,
        };
        const ball = {
            x: canvas.width / 2,
            y: canvas.height / 2,
            radius: 10,
        };
        let score1 = 0;
        let score2 = 0;

        // Draw paddle on the canvas
        function drawPaddles() {
            ctx.fillStyle = "white";
            ctx.fillRect(paddle1.x, paddle1.y, paddle1.width, paddle1.height);
            ctx.fillRect(paddle2.x, paddle2.y, paddle2.width, paddle2.height);
        }

        // Draw ball on the canvas
        function drawBall() {
            ctx.beginPath();
            ctx.arc(ball.x, ball.y, ball.radius, 0, Math.PI * 2);
            ctx.fillStyle = "red";
            ctx.fill();
            ctx.closePath();
        }

        //Draw score on the canvas
        function drawScore() {
            ctx.font = "30px Arial";
            ctx.fillStyle = "white";
            ctx.textAlign = "center";
            ctx.fillText(score1, canvas.width / 4, 50);
            ctx.fillText(score2, canvas.width * 3 / 4, 50)
        }

        // Clear the canvas
        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        // Update canvas
        function updateCanvas() {
            clearCanvas();
            drawScore();
            drawBall();
            drawPaddles();
        }

        // Handle WebSocket messages
        socket.onmessage = function (event) {
            const data = JSON.parse(event.data);

            if (data.type === "possitions_update") {
                // Update paddle position from the server
                paddle1.y = data.paddle1_y;
                paddle2.y = data.paddle2_y;
                ball.x = data.ball_x;
                ball.y = data.ball_y;
                score1 = data.score1;
                score2 = data.score2;
                updateCanvas();
            }
        };

        // Handle WebSocket errors
        socket.onerror = function (error) {
            console.error("WebSocket error:", error);
        };

        // Handle WebSocket closure
        socket.onclose = function () {
            alert("Connection closed by the server.");
        };

        let pressedKeys = {};

        function sendAction(action) {
            socket.send(JSON.stringify({
                type: "paddle_action",
                action: action,
            }));
        }

        // Paddle movement handling
        document.addEventListener("keydown", (event) => {
            let action = null;
            if (!pressedKeys[event.key]) {
                if (event.key === "ArrowUp") {
                    action = "up";
                } else if (event.key === "ArrowDown") {
                    action = "down";
                }
            }
            if (action) {
                sendAction(action);
                pressedKeys[event.key] = setInterval(() => sendAction(action), 50);
            }
        });

        document.addEventListener("keyup", (event) => {
            if (pressedKeys[event.key]) {
                clearInterval(pressedKeys[event.key]);
                pressedKeys[event.key] = null;
            }
        });

        // Initial canvas update
        updateCanvas();
    </script>
</body>
</html>