#users-container {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--app-blue);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color:#facf45;

}

#users-img-container {
    position: absolute;
    top: 4rem;
    right: 3rem;
    width: 20rem;
    height: 20rem;
}

#users-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

#users-name-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
    flex-direction: column;
}

#users-username {
    font-size: 3rem;
    font-weight: bold;
    font-family: "rixvideogame-pro", sans-serif;
    letter-spacing: 5px;
    /* color: white; */
}

/* Close button styling */
#users-close-button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 1rem;
    right: 1rem;
    padding: 0;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 25px;
}

#users-close-button i {
    font-size: 20px;  /* Icon size */
    margin: 0;        /* Remove default margin */
    color: white;
    line-height: 1;    /* Ensure vertical alignment */
    text-align: center; /* Horizontal centering */
}

#users-close-button:hover {
    background-color: #c0392b;
}

#users-history-container {
    position: absolute;
    background-color: transparent;
    /* color: white; */
    top: 11rem;
    left: 4rem;
    border: none;
    height: 60%;
    width: 40%;
    overflow-y: auto;
}

#users-history-list {
    list-style-type: none;
    padding: 0;
}

#users-history-list li {
    display: flex;  /* Flex layout for list item */
    justify-content: space-between;  /* Space out left (game details) and right (status & button) */
    align-items: center;
    padding: 8px;
    /* color: white; */
    background-color: rgba(0, 0, 0, 0);
    margin: 4px 0;
    border: solid;
    border-radius: 5px;
    width: 100%;
}

#users-history-container::-webkit-scrollbar {
    width: 0px;
}

.users-game-details {
    display: flex;
    flex: 1;
    justify-content: space-between;
}