.mode-container {
    position: absolute;
    top: 15%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning to center */
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    gap: 20px; /* Space between buttons */
    align-items: center; /* Center buttons horizontally */
    font-size: x-large;
}

.pongMode {
	background-color: rgba(0,0,0,0);
	color: var(--app-yellow);
	/* outline: none; */
	/* box-shadow: none; */
	border: none;
	/* outline-color: "red"; */
	font-family: "rixvideogame-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40pt;
	
}

.pongMode:hover {
	scale: 150%;
}


/* not logged error */

#not-logged-container {
    height:80%;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: "rixvideogame-pro", sans-serif;
    font-size: 20px;
}

#not-logged-container button {
    background-color: #facf45;
    color: rgb(23, 26, 91);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 40px;
    margin-left: 10px;
}

#not-logged-container span {
    color: var(--app-yellow);
    font-size: 25px;
}

/* refresh menu */

#refresh-menu {
    position: absolute;
    color: #facf45;
    font-size: 2rem;
    right: 1rem;
    top: 1rem;
}

#refresh-menu:hover {
    display: block;
    border-radius: 1rem;
    background-color: rgb(2, 2, 36);
}