#back-to-menu {
    position: absolute;
    color: #facf45;
    font-size: 2rem;
    left: 1rem;
    top: 1rem;
}

#back-to-menu:hover {
    display: block;
    border-radius: 1rem;
    background-color: rgb(2, 2, 36);
}


#tour-menu {
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    font-family: "rixvideogame-pro", sans-serif;
    font-size: 20px;
}

#top-btn-container {
    display:flex;
    gap: 10px;
    margin-bottom: 10px;
}

/* Create Button Styling */
#new-tour {
    background-color: #facf45;
    color: rgb(23, 26, 91);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

#new-tour:hover {
    background-color: #4c9009;
}

#leader {
    background-color: #facf45;
    color: rgb(23, 26, 91);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

#leader:hover {
    background-color: #4c9009;
}

/* dropdown container */

#dropdown-container {
    position: relative;
    width: 700px;
    height: 400px;
    overflow-y: auto;  /* Makes the list scrollable */
    z-index: 10;  /* Ensures the list appears over the canvas */
    background-color: rgba(0, 0, 0, 0);  /* Semi-transparent background */
    border: none;
    box-sizing: border-box;  /* Ensures padding is included in total width/height */
}

.dropdown {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    transition: margin-bottom 0.3s ease;
}

.dropdown-button {
    width: 100%;
    background-color: #facf45;
    color: rgb(23, 26, 91);
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

.dropdown-button:hover {
    background-color: #4c9009;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    margin-top: 5px;
    transition: max-height 1.5s ease-out, opacity 2s ease-out 1s; /* Smooth transition for height and opacity */
    opacity: 0; /* Initially invisible */
}

.dropdown-list li {
    color: var(--app-yellow);
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    width:100%;
}

.dropdown-list li button {
    background-color: #facf45;
    color: rgb(23, 26, 91);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

.dropdown-list li button:hover {
    background-color: #4c9009;
}


.dropdown-list li:hover {
    background-color: #f1f1f1;
    color: var(--app-blue)
}

.dropdown-list.show {
    display: block;
    max-height: 150px; /* Scrollable menu if too many items */
    opacity: 1; /* Make it fully visible */
    overflow-y: auto;
}


#join-modal{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--app-trasparent-blue) ;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#reg-button, #cancel-reg {
    color: black;
    background-color: white;
    font-size: 1rem;
    width: 50%;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#reg-button:hover, #cancel-reg:hover {
    background-color:var(--app-yellow);
}